
.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    color: #8B8E99;
    padding-top: 20px;
    height: 100%;
    position: fixed;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
}

.sidebar .logo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}
.sidebar .menu label{
}


.sidebar .menu li {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .menu li:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

